* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root {
    --bg-color-1: #EAE0CF;
    --bg-color-2: #213448;
    --bg-color-3: #547792;
    --light-text: white;
    --dark-text: black;
    --border-accent: #94B4C1;
    --shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 2fr 10fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
}


.header {
    background-color: var(--bg-color-1);
    box-shadow: var(--shadow);
    display: grid;
    grid-area: header;
    position: relative;
}

.search {
    grid-area: ;
}

.profile {
    grid-area: ;
}

.greeting {
    grid-area: ;
}

.menu {
    grid-area: ;
}

.sidebar {
    color: var(--light-text);
    background-color: var(--bg-color-2);
    display: flex;
    grid-area: sidebar;
}

.heading {

}

.nav {
    
}

.nav ul {

}

.nav ul li {

}

.content {
    background-color: var(--bg-color-3);
    display: grid;
    grid-area: content
}

.card {
    grid-area: ;
    display: flex;
}

.card h2 {

}

.card p {

}

.card-btns {

}

.card-btns img {
    width: 2rem;
}

.announcements {

}

.trending {

}