* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root {
    --bg-color-1: #EAE0CF;
    --bg-color-2: #213448;
    --bg-color-3: #547792;
    --light-text: #EAE0CF;
    --dark-text: #000;
    --border-accent: #94B4C1;
    --shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

html {
    font-family: 'Roboto', sans-serif;
}

.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
}


.header {
    background-color: var(--bg-color-1);
    box-shadow: var(--shadow);
    display: grid;
    grid-area: header;
    position: relative;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "search profile"
    "greeting menu";
    padding: 1rem 3rem;
    gap: 2rem;
}

.search {
    display: flex;
    grid-area: search;
    align-items: center;
}

.search input {
    color: var(--light-text);
    background-color: var(--bg-color-3);
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 2rem;
}

.search svg {
    width: 2em;
    margin-right: 1rem;
}

.profile {
    grid-area: profile;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
}

.profile img {
    width: 3em;
}

.profile svg {
    width: 2em;
}

.greeting {
    grid-area: greeting;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.greeting img {
    width: 4em;
}

.menu {
    grid-area: menu;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

.menu button {
    border: none;
    border-radius: 30px;
    width: 8rem;
    height: 3rem;
    color: var(--light-text);
    background-color: var(--bg-color-2);
    font-size: 1.5rem;
}

.sidebar {
    position: relative;
    color: var(--light-text);
    background-color: var(--bg-color-2);
    display: flex;
    grid-area: sidebar;
    flex-direction: column;
    padding: 1rem;
}

.heading {
    display: flex;
    font-size: 2rem;
    margin-bottom: 2rem;

}

.heading svg {
    margin-right: .7em;
}

.sidebar .heading svg, 
.nav ul li svg {
    width: 1em;
    fill: var(--light-text);
}

.nav {
    
}

.nav ul {

}

.nav ul li {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    align-self: center;
}

.nav ul li svg {
    margin-right: 1em;
}

.nav ul li:nth-child(6) {
    margin-bottom: 2rem;
}

.credit {
    font-size: .8em;
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
}

.credit a {
    color: var(--light-text);
    text-decoration: none;
}

.content {
    color: var(--dark-text);
    background-color: var(--bg-color-3);
    display: grid;
    grid-area: content;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.content-heading {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark-text);
}

.wrapper {
    display: grid;
    grid-area: 1 / 1 / 3 / 2;
    grid-template-rows: auto 1fr;
    margin: 2rem;
    
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(300px, 34%), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    background-color: var(--bg-color-1);
    box-shadow: var(--shadow);
    border-radius: 20px;
    border-left: 10px var(--border-accent) solid;
}

.card h2 {

}

.card p {

}

.card-btns {
    align-self: flex-end;
}

.card-btns svg {
    width: 2rem;
}

.announcements {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    grid-area: 1 / 2 / 2 / 3;
}

.announcements-wrapper, 
.trending-wrapper {
    box-shadow: var(--shadow);
    background-color: var(--bg-color-1);
    border-radius: 20px;
    padding: 1rem;
}

.announcement-content {
    border-bottom: 1px solid var(--bg-color-2);
    padding: 1rem;
}

.announcement-content:last-child {
    border-bottom: none;
}

.trending {
    margin: 2rem;
    grid-area: 2 / 2 / 3 / 3;

}

.trending-profile img {
    width: 3rem;
    margin-right: 1rem;
}

.trending-content {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.trending-profile {
    display: flex;
    align-content: center;
}